.fa {
    padding: 20px;
    font-size: 50px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    align-items: center;
    margin: 30px;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}

.fa-instagram {
    background: linear-gradient(135deg, #b30679, #922cce);
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.container-log .title {
    font-size: 50px;
    font-weight: 500;
    position: relative;
}

.container-log .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 300px;
    border-radius: 5px;
    background: linear-gradient(135deg, #bd271cd7, #3a3939);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #bd271cd7;
}

form .contact-choices .choice-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#choice-one:checked~.category label .one,
#choice-two:checked~.category label .two,
#choice-three:checked~.category label .three {
    background: #bd271cd7;
    border-color: #3a3939;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #bd271cd7, #3a3939);
}

form .button input:hover {
    background: linear-gradient(-135deg, #bd271cd7, #3a3939);
}

@media (max-width: 584px) {
    .container-log {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .category {
        width: 100%;
    }
    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media (max-width: 459px) {
    .container-log .content .category {
        flex-direction: column;
    }
}

.tacbox {
    display: block;
    padding: 1em;
    margin: 2em;
    border: 3px solid #ddd;
    background-color: #eee;
    max-width: 800px;
}

input {
    height: 2em;
    width: 2em;
    vertical-align: middle;
}

.button-link {
    height: 50%;
    width: 13%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #bd271cd7, #3a3939);
}

.button-link:hover {
    background: linear-gradient(-135deg, #bd271cd7, #3a3939);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    background: rgb(104, 103, 103);
    left: 0;
    right: 0;
    bottom: -20px;
    position: absolute;
    padding-right: 2rem;
    padding-left: 7rem;
    /* margin-top: 100px; */
    align-items: center;
    color: rgb(0, 0, 0);
}

.footer-content>div {
    flex: 1;
}

@media only screen and (max-width: 1000px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-content>div {
        text-align: center !important;
        border: none !important;
    }
}

#second-box {
    border-color: #bd271cd7;
    border-width: 10px;
    border-left: double;
    border-right: double;
    text-align: center;
}

#third-box {
    padding-left: 7rem;
}