@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", "Poppins", sans-serif;
}

body {
    height: auto;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10px;
    background: linear-gradient(135deg, #e6e5e5d7, #797676);
    background-repeat: no-repeat;
    /* flex-wrap: wrap; */
}

.navbar {
    width: 300px;
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    left: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius:0 20% 20% 0 ;*/
    transition: left 0.8s cubic-bezier(1, 0, 0, 1);
    font-family: "Dosis", sans-serif;
}

.change {
    left: 0;
}

.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 100px;
    /*50px before*/
    left: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 3px;
    background-color: rgb(165, 39, 39);
    transition: all 0.8s;
}

.change .line-1 {
    transform: rotateZ(-405deg) translateY(14px);
    /* translate(-8px,6px);*/
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translateY(-14px);
    /*translate(-8px, -12px);*/
}

.nav-list {
    text-align: left;
}

.nav-item {
    list-style: none;
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.nav-link:before,
.nav-link:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(165, 39, 39);
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 25px 30px;
    /* margin-top: 20px; */
    /* margin-bottom: 150px; */
    margin: 20px auto;
}

#header-sub {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
}

.container-2 {
    max-width: 450px;
    width: 50%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin-left: 50px;
    margin-bottom: 200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container-2 .title {
    font-size: 40px;
    font-weight: 500;
    position: relative;
}

.container-2 .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 300px;
    border-radius: 5px;
    background: linear-gradient(135deg, #bd271cd7, #3a3939);
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    align-items: center;
    margin: 30px;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}

.fa-instagram {
    background: linear-gradient(135deg, #b30679, #922cce);
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.container .title {
    font-size: 50px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 300px;
    border-radius: 5px;
    background: linear-gradient(135deg, #bd271cd7, #3a3939);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #bd271cd7;
}

form .contact-choices .choice-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#choice-one:checked~.category label .one,
#choice-two:checked~.category label .two,
#choice-three:checked~.category label .three {
    background: #bd271cd7;
    border-color: #3a3939;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #bd271cd7, #3a3939);
}

form .button input:hover {
    background: linear-gradient(-135deg, #bd271cd7, #3a3939);
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .category {
        width: 100%;
    }
    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media (max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}

.tacbox {
    display: block;
    padding: 1em;
    margin: 2em;
    border: 3px solid #ddd;
    background-color: #eee;
    max-width: 800px;
}

input {
    height: 2em;
    width: 2em;
    vertical-align: middle;
}

.button-link {
    height: 50%;
    width: 13%;
    /* border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #bd271cd7, #3a3939); */
}